@charset "utf-8";
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #FFF;
}
/* CSS Document */

#container {
	width: 968px;
	background: #FFF;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
#banner {
	position: relative;
}
#container #banner #genesis_biotech {
	position: absolute;
	top: -3px;
	right: -4px;
	bottom: 0px;
	font-family: "Arial Black", Gadget, sans-serif;
}
}
#main_text {
	background-color: #FFF;
	width: 362px;
	line-height: normal;
	padding: 12px;
	position: absolute;
	left: 18px;
	top: 27px;
	font-size: 10pt;
	font-style: normal;
	color: #000;
	text-decoration: blink;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 148px;
	visibility: visible;
}
#main_text h2 {
	color: #0099FF;
	margin-top: 0;
	margin-bottom: 1px;
	font-size: 16pt;
	font-family: "Arial Black", Gadget, sans-serif;
	text-decoration: blink;
}
#imag {
	background-image: url(investitori.jpg);
	position: relative;
	height: 380px;
	width: 968px;
}
#main_text {
	height: 36px;
	width: 195px;
	position: absolute;
	top: 20px;
	left: 20px;
}


#main_text h3 {
	font-size:12pt;
	margin: 0 auto;
	font-family: "Arial Black", Gadget, sans-serif;
	text-decoration: blink;
}
#main_text p{
	font-size: 10pt;
	margin: 0 auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}




#left_column, #center_column, #right_column {
	width: 316px;
	float: left;
	font-family: Calibri;
	color: #09F;
	font-size: 12pt;
}



#center_column, #right_column {
	margin-left: 10px;
}
p {
	margin-top: 1em;
	font-family: Calibri;
	font-size: 11pt;
	color: rgb(0,0,0);
}
#text1 {
	background-color: #FFF;
	height: 29px;
	width: 265px;
	position: absolute;
	font-size: 12pt;
	top: 40px;
	right: 110px;
}
#text2 {
	background-color: #FFF;
	height: 28px;
	width: 220px;
	position: absolute;
	text-decoration: underline;
	top: 110px;
	right: 152px;
}
